@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist
<h2>Add New Stylist</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.StylistName, "Stylist Name", new { @class = "textBox" })
    @Html.TextBoxFor(model => model.StylistName, new { @class = "textBox" })
    <br>
    <button class="btn btn-success" type="submit" value="Add new stylist">Add Stylist</button>
}
<hr />
<h4>@Html.ActionLink("Stylist Overview", "Index")</h4>
