@{
  Layout = "_Layout";
}
@model List<HairSalon.Models.Stylist>;
<h2>Are you sure you want to delete all stylists?</h2>
<br>

@using (Html.BeginForm())
{
    <button class="btn btn-success" type="submit" value="DeleteAll">Delete All Stylists</button>
}

<hr>
<h4>@Html.ActionLink("Back to Stylists", "Index")</h4>
