html {
  height: 100%;
  background:url(https://cdn.pixabay.com/photo/2017/08/06/06/54/salon-2589649_1280.jpg)no-repeat center center fixed;
  background-color: black;
  background-size: cover;
  min-height: 100%;
}

div.header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#adadad;
  background: rgba(0, 0, 0, 0.80);
  padding:5px;
  text-align: center;
  font-size: 25px;
  letter-spacing: 3px;
}

body {
  background-color: transparent;
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Raleway', sans-serif;
}

div.container
{
  text-align: center;
  color:#adadad;
  background-color: rgba(0, 0, 0, 0.80);
  border-radius: 10px;
  width: 700px;
  letter-spacing: 4px;
  padding-bottom: 10px;
  margin-top: 300px;
  margin-bottom: 100px;
} 

a {
  color:#16d971;
  text-decoration: none;
}

a:hover {
  color: #52ffa8;
  text-decoration: none;
}

.btn-success { 
  background-color: #16d971;
  border: none;
}

.btn-success:hover {
  background-color: #52ffa8;
  border: none;
}

.textBox {
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.searchBar {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  color: #adadad;
  width: 600px;
  letter-spacing: 4px;
}

.searchBar:hover {
  background-color: transparent;

}

hr {
  border-color: rgba(0, 0, 0, 0.80);
}

div.footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#adadad;
  background:rgba(0, 0, 0, 0.80);
  padding:10px;
  text-align: center;
  font-style: italic;
  letter-spacing: 3px;
}