@{
  Layout = "_Layout";
}
<title>Eau Claire's Salon</title>

<h1>Eau Claire Salon's Manager</h1>
<hr />
<br>
<p>@Html.ActionLink("Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Clients", "Index", "Clients")</p>
