@{
  Layout = "_Layout";
}
<br>
<h1>@Html.ActionLink("Stylists", "Index", "Stylists")</h1>
<h1>@Html.ActionLink("Clients", "Index", "Clients")</h1>
<h1>@Html.ActionLink("Appointments", "Index", "Appointments")</h1>
<br>
