@{
  Layout = "_Layout";
}
@model List<HairSalon.Models.Client>;

<h2>Are you sure you want to delete all clients?</h2>
<br>

@using (Html.BeginForm())
{
    <button class="btn btn-success" type="submit" value="DeleteAll">Delete All Clients</button>
}

<hr>
<h4>@Html.ActionLink("Back to Clients", "Index")</h4>
