@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h2>Are you sure you want to delete this client?</h2>

<h3>@Html.DisplayFor(model => model.ClientName)</h3>
<br>
@using (Html.BeginForm())
{
    <button class="btn btn-success" type="submit" value="Delete">Submit</button>
}
<hr />
@Html.ActionLink("Back to Clients", "Index")
