@{
  Layout = "_Layout";
}
@model List<HairSalon.Models.Client>;

<h2>Are you sure you want to delete all clients?</h2>
<br>

@using (Html.BeginForm())
{
    <input type="submit" value="DeleteAll" />
}

<br>
<br>
@Html.ActionLink("Back to Clients", "Index")
